$black = #0f1418

body
  margin 0
  font-family 'PingFang SC', 'Microsoft YaHei'
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $black
  background-color $black
canvas
  background-color $black
a
  text-decoration none
  color inherit
  cursor pointer
  &:focus
    color inherit
  &:active
    color inherit
  &:visited
    color inherit
p
  margin 0
  line-height 1.8em
h2
  margin 0
  font-weight 500
  font-size 24px
  span
    font-size 20px
    opacity .3

.main-width
  margin auto
  padding 0 30px
  max-width 1400px

#banner
  position fixed
  width 100%
  height 68vh
  min-height 680px
  top -8vh
  left 0
  i
    position fixed
    top 8px
    right 8px
    font-size 24px
    color #fff
    cursor pointer
    opacity .5
    transition .2s
    &:hover
      opacity .8

#body
  position relative

#avatar
  height 40vh
  min-height 400px
  overflow hidden
  color #fff
  position relative
  .me
    position absolute
    bottom -200px
    left 20px
    z-index 1
    width 250px
    height 551px
    background no-repeat url('./assets/me.png') top / contain
    transition left .2s
  .intro
    position absolute
    bottom 20px
    left 0
    background-color rgba($black, .4)
    padding 30px 360px 10px 330px
    border-radius 96px
    &:after
      content ''
      padding 4px
      position absolute
      top 50%
      right 86px
      width 8px
      height 8px
      border-radius 50%
      border solid 2px #fff
      background-clip content-box
      background-color #fff
      transform translate3d(-50%, -50%, 0)
      opacity .2
  .my-name
    margin 0
    font-size 40px
    line-height 1em
    display flex
    align-items flex-end
    position relative
    color rgba(#fff, .9)
    &:before
      content 'Felix Cai'
      position absolute
      top -26px
      left 0
      font-size 72px
      line-height 1em
      white-space nowrap
      font-weight 800
      color rgba(#fff, .1)
      text-transform uppercase
    span
      margin-left 10px
      font-size 16px
      line-height 16px
      font-weight 500
      opacity .5
  .years
    margin-right 10px
    font-weight 500
    opacity .5
  p
    margin 10px 0 0
  a
    display flex
    font-size 14px
    align-items center
    opacity .5
    transition .2s
    i
      font-size 20px
      margin-right 6px
    &:hover
      opacity .8

#contract
  position absolute
  bottom 20px
  right 0
  margin 16px 0
  padding 10px 14px 10px 80px
  border-radius 80px 0 0 80px
  border-right solid 14px rgba($black, .2)
  background-color rgba(#fff, .02)
  color #fff
  z-index 2
  ul
    margin 0
    padding 0
    list-style none
    opacity .8
    li
      line-height 28px
      display flex
      font-size 14px
      align-items center
      &:not(:first-child)
        margin-top 10px
    i
      font-size 20px
      margin-right 6px
  &:after
    content ''
    padding 3px
    position absolute
    top 50%
    left 36px
    width 6px
    height 6px
    border-radius 50%
    border solid 1px #fff
    background-clip content-box
    background-color #fff
    transform translate3d(-50%, -50%, 0)
    opacity .14

section
  padding 60px 0
  background-color #f9f9f9
  position relative
  >div
    display flex
    flex-direction column
    font-size 18px
    line-height 1.8em
    color rgba($black, .8)
    position relative
section:not(:last-of-type)
  border-bottom solid 2px $black
  &:after
    content ''
    position absolute
    bottom -1px
    left 50%
    width 14px
    height 14px
    border-radius 50%
    background-color $black
    transform translate3d(-50%, 50%, 0)
    z-index 5


#basic
  .content
    display flex
  ul
    margin 20px 0 0 0
    padding-left 2em
  li
    margin 8px 0
  p
    margin-top 18px
    text-indent 2em
  .front-end
    margin-left 60px
    flex 0 0 300px
    background no-repeat url('./assets/vis-frontend.png') center / contain
    filter grayscale(.8)
    transition filter .2s ease-out, transform .2s ease
  &:hover
    .front-end
      filter grayscale(0)
      transform scale(1.05)
      transition filter .2s ease-out, transform .4s cubic-bezier(0.43, -0.68, 0.74, 0.05)

#plus
  .item
    margin 50px 0 10px
    display flex
    align-items center
    &:hover
      .icon
        filter grayscale(0)
        transform scale(1.05)
        transition filter .2s ease-out, transform .4s cubic-bezier(0.43, -0.68, 0.74, 0.05)
      i
        width 28px
        height 28px
    >p
      flex 1 1 auto
  .icon
    margin 0 60px
    flex 0 0 180px
    height 100px
    background-repeat no-repeat
    background-size contain
    background-position center
    filter grayscale(.8)
    transition filter .2s ease-out, transform .2s ease
  i
    flex 0 0 6px
    margin 30px
    width 6px
    height 6px
    background-color $black
    border-radius 3px
    transition .2s .1s ease-out
  b
    font-weight 500
  
#more
  .container
    display flex
    >div
      margin-left 40px
      flex 0 0 220px
      background no-repeat url('./assets/developer.svg') center / cover
      background-position-x 50%
      position relative
      filter grayscale(.8)
      transition filter .2s ease-out
      a
        position absolute
        right 0px
        bottom 0px
        display flex
        align-items center
        font-size 12px
        opacity .3
        transition opacity .16s
        &:hover
          opacity .6
        i
          margin-right 4px
          font-size 14px
  .container:hover>div
    filter grayscale(0)
  ul
    margin 30px 0
    padding 0
    list-style none
  li
    display flex
    &:not(:last-child)
      margin-bottom 60px
  .title
    margin-right 50px
    flex 0 0 210px
    font-size 20px
    line-height 1.8em
    display flex
    flex-direction column
    align-items flex-end
    div
      width 100%
      height 8px
      background-image linear-gradient(to left, #d2d2d8, #ececec)
      display flex
      justify-content flex-end
      &:after
        content attr(after)
        position absolute
        opacity .6
    i
      height 8px
      background-image linear-gradient(to left, #5d5f61, $black)
  p
    margin 2px 0

#exps
  padding 60px 0
  background-color #0f1418
  color #fff
  >div
    position relative
  ul
    margin 30px 0
    padding 0
    list-style none
  li
    display flex
    &:not(:last-child)
      margin-bottom 60px
  .time
    flex 0 0 300px
    font-size 20px
    font-family 'ZCOOL XiaoWei', serif
  .title
    font-size 18px
    line-height 36px
    position relative
    font-family inherit !important
    &:before
      position absolute
      top 0
      left -30px
      font-size 20px
      font-family 'remixicon' !important
  .position
    opacity .6
  .intro
    margin 14px 0 24px
    font-size 18px
  .work
    margin-top 16px
    display flex
    opacity .6
    transition .2s
    &:not(:last-child)
      margin-bottom 36px
    &:hover
      opacity 1
    img
      width 240px
      height 150px
      border-radius 0 8px 0 8px
      margin-right 20px
    p
      flex 1 1 auto
    a
      width 110px
      float left
      display flex
      align-items center
      i
        margin-right 4px
  .tags
    flex 0 0 140px
    margin 8px 0
    display flex
    flex-direction column
    align-items flex-end
    span
      margin-bottom 14px
      padding 0 14px
      line-height 22px
      background-color #fff1
      border-radius 12px
      border solid 1px #fff
      font-size 14px
      opacity .6
      transition opacity .16s
      cursor default
      &:hover
        opacity .8

#works
  padding 60px 0
  background-color #f9f9f9
  ul
    margin 30px 0
    padding 0
    list-style none
  li
    display flex
    padding-left 30px
    &:not(:last-child)
      margin-bottom 60px
    &:hover
      .title:before
        width 8px
        height 8px
        border-width 2px
        transition all .2s
      img
        filter grayscale(0)
      img:nth-child(odd)
        transform translateY(-6px)
      img:nth-child(even)
        transform translateY(6px)
    >div:first-child
      flex 1 1 auto
  .title
    font-weight 600
    font-size 18px
    line-height 36px
    position relative
    &:before
      content ''
      position absolute
      top 50%
      left -18px
      width 0px
      height 0px
      border-radius 50%
      border solid 4px $black
      transform translate3d(-50%, -50%, 0)
      transition all .16s
  .tags
    opacity .6
  .intro
    margin 14px 0
    font-size 18px
    opacity .8
  .images
    margin-left 20px
    display flex
    align-items center
    img
      width 200px
      height 125px
      border-radius 0 8px 0 8px
      margin 6px
      filter grayscale(.6)
      transition all .1s ease-out
  a
    position relative
    display flex
    opacity .8
    &:before
      position absolute
      top 50%
      left -24px
      transform translateY(-50%)
  code
    font-size 16px

#xmas
  margin auto
  padding 0 20px
  max-width 1600px
  display flex
  justify-content space-between
  align-items center
  background-color #0f1418
  position relative
  span
    flex 0 0 12px
    width 12px
    height 12px
    display block
    border-radius 50%
    border none
    background-color #fff
.xmas-img
  width 70vw
  height 36vw
  max-height 540px
  background no-repeat url('./assets/xmas.jpeg') left center / contain
.xmas-tree
  width 26vw
  height 36vw
  max-height 540px
  background-color $black

.slogan
  margin 0
  padding 20px 0 60px
  background-color #f9f9f9
  text-align center
  font-size 40px
  color rgba($black, .8)
  font-family 'ZCOOL XiaoWei', serif

footer
  padding 4px 0
  background-color #f9f9f9
  font-size 14px
  color rgba($black, .4)
  display flex
  justify-content center
  align-items center
  >i
    margin 0 12px
    width 2px
    height 2px
    border-radius 50%
    background-color rgba($black, .4)
  ul
    margin 0
    padding 0
    display flex
    justify-content center
    list-style none
  li
    display flex
    align-items center
    opacity .6
    transition .1s
    &:not(:first-child)
      margin-left 18px
    &:hover
      opacity 1
    i
      margin-right 4px

@media screen and (max-width 900px)
  #avatar
    .me
      left 220px
    .intro
      left 10vw
      padding 30px 0 10px
      width 80vw
      box-sizing border-box
      p
        position relative
        z-index 0
  #basic
    .content
      flex-direction column-reverse
    .front-end
      margin 20px 0
      flex 0 0 140px
  #plus
    .item
      flex-direction column
    .icon
      margin 0 60px 20px
      flex 0 0 100px
      width 180px
  #more
    .container >div
      display none
    .title
      flex 0 0 140px
  #exps
    .time
      flex 0 0 80px
      writing-mode vertical-lr
    .work
      flex-direction column
      >div
        margin-bottom 14px
        display flex
    .tags
      flex 0 0 auto
      flex-direction row
      span
        margin 0 14px 0 0
  #works
    li
      flex-direction column
    .images
      margin 20px 0 0 0
      img
        width 160px
        height 100px
