$black = #0f1418

body
  margin 0
  font-family 'PingFang SC', 'Microsoft YaHei'
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $black
  background-color $black
canvas
  background-color $black
a
  text-decoration none
  color inherit
  cursor pointer
  &:focus
    color inherit
  &:active
    color inherit
  &:visited
    color inherit
p
  margin 0
  line-height 1.8em
h2
  margin 0
  font-weight 500
  font-size 24px
  span
    font-size 20px
    opacity .3

.main-width
  margin auto
  padding 0 20px
  max-width 1400px

#banner
  position fixed
  width 100%
  height 68vh
  top -8vh
  left 0
  i
    position fixed
    top 8px
    right 8px
    font-size 24px
    color #fff
    cursor pointer
    opacity .5
    transition .2s
    &:hover
      opacity .8

#body
  position relative

#avatar
  height 40vh
  overflow hidden
  color #fff
  position relative
  .me
    position absolute
    bottom -200px
    left 20px
    z-index 1
    width 250px
    height 551px
    background no-repeat url('./assets/me.png') top / contain
    transition left .2s
  .intro
    position absolute
    bottom 20px
    left 0
    background-color rgba($black, .4)
    padding 30px 360px 10px 320px
    border-radius 86px
    &:after
      content ''
      padding 4px
      position absolute
      top 50%
      right 86px
      width 8px
      height 8px
      border-radius 50%
      border solid 2px #fff
      background-clip content-box
      background-color #fff
      transform translate3d(-50%, -50%, 0)
      opacity .2
  .my-name
    margin 0
    font-size 40px
    line-height 1em
    position relative
    color rgba(#fff, .9)
    &:before
      content 'Felix Cai'
      position absolute
      top -26px
      left 0
      font-size 72px
      line-height 1em
      white-space nowrap
      font-weight 800
      color rgba(#fff, .1)
      text-transform uppercase
  p
    margin 10px 0 0
  a
    display flex
    font-size: 14px
    align-items center
    opacity .5
    transition .2s
    i
      font-size 20px
      margin-right 6px
    &:hover
      opacity .8

section
  padding 40px 0
  background-color #fff
  position relative
  >div
    display flex
    flex-direction column
    font-size 18px
    line-height 1.8em
    color rgba($black, .8)
    position relative
section:not(:last-of-type)
  border-bottom solid 2px $black
  &:after
    content ''
    position absolute
    bottom -1px
    left 50%
    width 14px
    height 14px
    border-radius 50%
    background-color $black
    transform translate3d(-50%, 50%, 0)
    z-index 5


#basic
  ul
    margin 20px 0 0 0
  li
    margin 8px 0

#plus
  .item
    margin 50px 0 10px
    display flex
    align-items center
    &:hover
      .icon
        filter grayscale(0)
        transform scale(1.05)
        transition all .4s cubic-bezier(0.43, -0.68, 0.74, 0.05)
      i
        width 28px
        height 28px
    >p
      flex 1 1 auto
  .icon
    margin 0 60px
    flex 0 0 180px
    height 100px
    background-repeat no-repeat
    background-size contain
    background-position center
    filter grayscale(.8)
    transition all .2s ease
  i
    flex 0 0 6px
    margin 30px
    width 6px
    height 6px
    background-color $black
    border-radius 3px
    transition .2s .1s ease-out
  b
    font-weight 500

#exps
  padding 40px 0
  background-color #0f1418
  color #fff
  >div
    position relative
  ul
    margin 30px 0
    padding 0
    list-style none
  li
    display flex
  .time
    flex 0 0 300px
    font-size 20px
    font-family 'ZCOOL XiaoWei', serif
  .title
    font-size 18px
    line-height 36px
    position relative
    font-family inherit !important
    &:before
      position absolute
      top 0
      left -30px
      font-size 20px
      font-family 'remixicon' !important
  .position
    opacity .6
  .intro
    margin 14px 0 24px
    font-size 18px
  .work
    margin 14px 0 10px
    display flex
    opacity .6
    transition .1s
    &:hover
      opacity 1
    img
      width 280px
      margin-right 20px
    a
      display flex
      align-items center
      i
        margin-right 4px
  .tags
    flex 0 0 140px
    display flex
    flex-direction column
    align-items flex-end
    span
      padding 0 16px
      line-height 28px
      border-radius 15px
      border solid 1px #fff
      margin-bottom 14px
      opacity .6
      transition opacity .16s
      cursor default
      &:hover
        opacity .9

#works
  padding 40px 0
  background-color #fff

#xmas
  margin auto
  padding 0 20px
  max-width 1600px
  display flex
  justify-content space-between
  align-items center
  background-color #0f1418
  position relative
  span
    flex 0 0 12px
    width 12px
    height 12px
    display block
    border-radius 50%
    border none
    background-color #fff
.xmas-img
  width 70vw
  height 36vw
  max-height 540px
  background no-repeat url('./assets/xmas.jpeg') left center / contain
.xmas-tree
  width 26vw
  height 36vw
  max-height 540px
  background-color $black

.slogan
  margin 0
  padding 20px 0 60px
  background-color #fff
  text-align center
  font-size 40px
  color rgba($black, .8)
  font-family 'ZCOOL XiaoWei', serif

footer
  padding 4px 0
  background-color #fff
  font-size 14px
  color rgba($black, .4)
  text-align center

@media screen and (max-width 900px)
  #avatar
    .me
      left 220px
    .intro
      left 10vw
      padding 30px 0 10px
      width 80vw
      box-sizing border-box
      p
        position relative
        z-index 2
  #plus
    .item
      flex-direction column
    .icon
      margin 0 60px 20px
      flex 0 0 100px
      width 180px
      
